openapi: "3.1.0"
info:
  title: "undefined - Next.js OpenAPI Spec by Scalar"
  description: "This file has been autogenerated, check out the docs to see how to customize these options"
  version: "0.0.0"
paths:
  "/api/v1/create":
    post:
      summary: "use to set the summary"
      description: "use jsdoc tag to set the description"
      responses:
        "200":
          description: "unknown return type: ReturnStatement"
          content:
            "application/json": {}
  "/api/v1/state":
    get:
      summary: "use to set the summary"
      description: "use jsdoc tag to set the description"
      responses:
        "200":
          description: "unknown return type: ReturnStatement"
          content:
            "application/json": {}
    post:
      summary: "use to set the summary"
      description: "use jsdoc tag to set the description"
      responses:
        "200":
          description: "unknown return type: ReturnStatement"
          content:
            "application/json": {}
  "/api/v1/x":
    post:
      summary: "use to set the summary"
      description: "use jsdoc tag to set the description"
      responses:
        "200":
          description: "TODO: grab this from jsdoc and add a default"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "executionId":
                    type: "null"
                    description: "TODO: This is an unknown type"
        "500":
          description: "unknown return type: ReturnStatement"
          content:
            "application/json": {}
servers:
  - url: "https://www.linkage.dev"
